<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDS BASE DE DATOS</title>
    <!-- Aseguramos que el path al CSS sea correcto -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.cdnfonts.com/css/open-sauce-one" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="scroll-container">
        <!-- Header -->
        <header>
            <a href="#" class="logo">DataShop<span>.</span></a>
            <nav class="navbar">
                <a href="#consulta1">Productos Más Vendidos</a>
                <a href="#consulta2">Patrones de Compra</a>
                <a href="#consulta3">Bancos más utilizados</a>
            </nav>
        </header>

        <!-- Hero Section -->
        <main>
            <section class="hero">
                <div class="hero-text">
                    <h1>¡Bienvenidos!</h1>
                    <p>Explora las últimas tendencias, descubre comportamientos y entiende las preferencias de tus clientes con nuestras herramientas intuitivas.</p>
                    <div class="container">
                        <input type="text" placeholder="Buscar...">
                        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="hero-image">
                    <img src="https://plus.unsplash.com/premium_photo-1683288446489-71997f24255d?q=80&w=1374&auto=format&fit=crop" alt="Hero Image">
                </div>
            </section>

                    <!-- Consulta 1 -->
            <section id="consulta1" class="consulta-section">
                <div class="consulta-text">
                    <h2>Productos Más Vendidos por Categoría</h2>
                    
                    <!-- Mensajes Flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                    <p class="{{ category }}">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    
                    <form method="POST">
                        <input type="hidden" name="consulta" value="productos_mas_vendidos">
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria" required>
                            <option value="">--Seleccione una categoría--</option>
                            {% for cat in categorias %}
                                <option value="{{ cat }}" {% if cat == categoria_seleccionada %}selected{% endif %}>{{ cat }}</option>
                            {% endfor %}
                        </select>
                        <label for="fecha_inicio">Fecha Inicio:</label>
                        <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}" required>
                        <label for="fecha_fin">Fecha Fin:</label>
                        <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}" required>
                        <button type="submit" class="consulta-btn">Consultar</button>
                    </form>
                    
                    
                    {% if resultados_mas_vendidos %}
                        <div id="resultados1" class="resultados-tabla">
                            <h3>Resultados:</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID Producto</th>
                                        <th>Nombre</th>
                                        <th>Cantidad Vendida</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item_key, item_name, cantidad in resultados_mas_vendidos %}
                                        <tr>
                                            <td>{{ item_key }}</td>
                                            <td>{{ item_name }}</td>
                                            <td>{{ cantidad }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                <div class="consulta-image">
                    <img src="https://plus.unsplash.com/premium_vector-1724421640863-764d26d27959?q=80&w=2960&auto=format&fit=crop" alt="Consulta 1">
                </div>
            </section>
            

            <!-- Consulta 2 -->

            <section id="consulta2" class="consulta-section">
                <div class="consulta-text">
                    <h2>Análisis de Patrones de Compra Según Temporada</h2>
            
                    <!-- Mensajes Flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                    <p class="{{ category }}">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
            
                    <form method="POST">
                        <input type="hidden" name="consulta" value="patrones_compra">
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria" required>
                            <option value="">--Seleccione una categoría--</option>
                            {% for cat in categorias %}
                                <option value="{{ cat }}" {% if cat == categoria %}selected{% endif %}>{{ cat }}</option>
                            {% endfor %}
                        </select>
                        <label for="mes">Mes:</label>
                        <input type="number" id="mes" name="mes" value="{{ mes }}" min="1" max="12" required>
                        <label for="year_inicio">Año de inicio:</label>
                        <input type="number" id="year_inicio" name="year_inicio" value="{{ year_inicio }}" required>
                        <label for="year_fin">Año de fin:</label>
                        <input type="number" id="year_fin" name="year_fin" value="{{ year_fin }}" required>
                        <button type="submit" class="consulta-btn">Consultar</button>
                    </form>
                    
            
                    <!-- Tabla de resultados -->
                    {% if resultados_patrones_compra %}
                        <div id="resultados2" class="resultados-tabla">
                            <h3>Resultados para {{ categoria }} en el mes {{ mes }} entre {{ year_inicio }} y {{ year_fin }}</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Item ID</th>
                                        <th>Nombre del Producto</th>
                                        {% for year in range(year_inicio, year_fin + 1) %}
                                            <th>Cantidad {{ year }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in resultados_patrones_compra %}
                                    <tr>
                                        <td>{{ item[0] }}</td>
                                        <td>{{ item[1] }}</td>
                                        {% for cantidad in item[2:] %}
                                            <td>{{ cantidad }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No se encontraron resultados para la categoría y mes ingresados en el rango de años.</p>
                    {% endif %}
                </div>
            
                <div class="consulta-image">
                    <img src="https://plus.unsplash.com/premium_vector-1724671151148-531617c2b38d?q=80&w=2960&auto=format&fit=crop" alt="Consulta 2">
                </div>
            </section>
                        

            <!-- Consulta 3 -->
            <section id="consulta3" class="consulta-section">
                <div class="consulta-text">
                    <h2>Consulta de Ventas por Bancos en un Año Específico</h2>
            
                    <!-- Mensajes Flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                    <p class="{{ category }}">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
            
                    <form method="POST">
                        <input type="hidden" name="consulta" value="banco_por_year">
                        <label for="year">Ingrese el Año:</label>
                        <input 
                            type="number" 
                            id="year" 
                            name="year" 
                            placeholder="Ejemplo: 2017" 
                            value="{{ year }}" 
                            required 
                            oninvalid="this.setCustomValidity('Debe ingresar un número válido.')" 
                            oninput="this.setCustomValidity('')">
                        <button type="submit" class="consulta-btn">Consultar</button>
                    </form>
                    
            
                    <!-- Tabla de resultados -->
                    {% if resultados_bancos %}
                        <div id="resultados3" class="resultados-tabla">
                            <h3>Ventas por banco en el año {{ year }}</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Banco</th>
                                        <th>Total Ventas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in resultados_bancos %}
                                        <tr>
                                            <td>{{ row[0] }}</td>
                                            <td>{{ row[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No se encontraron resultados para el año {{ year }}.</p>
                    {% endif %}
                </div>
            
                <div class="consulta-image">
                    <img src="https://plus.unsplash.com/premium_vector-1724671151148-531617c2b38d?q=80&w=2960&auto=format&fit=crop" alt="Consulta 3">
                </div>
            </section>
            
        </main>

        <!-- Footer Section -->
        <div class="bajada">
            <div class="bajada-contenido">
                <h2>Integrantes</h2>
                <ul>
                    <li>Camila Laura</li>
                    <li>Andrés Oñate</li>
                    <li>Vania Sepúlveda</li>
                    <li>Javiera Yañez</li>
                </ul>
                <h2>Profesor</h2>
                <p>Sebastián Ferrada</p>
            </div>
            <div class="logo-esquina">
                <img src="http://mds.uchile.cl/wp-content/uploads/2020/04/logo_mds_web_01.svg" alt="Logo del grupo">
            </div>
        </div>
    </div>
</body>
</html>
