<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Consultas de Base de Datos</h1>
    <button onclick="window.location.href='/mas_vendidos';">Productos Más Vendidos</button>
    <button onclick="window.location.href='/patrones_compra';">Patrones de Compra</button>
    <button onclick="window.location.href='/banco_por_year'">Ventas anuales por banco</button>
</body>
</html>
